.hero {
  background-color: rgb(157, 187, 248);
  height: 100vh;
}
.box {
  margin-left: 5rem;
  margin-top: 10rem;
}
.box h1 {
  font-size: 5rem;
  font-weight: bold;
}
.box p {
  font-size: 1.5rem;
  margin-top: 2rem;
}
/* ----------------------------Ad---------------- */
.box-center {
  text-align: center;
}
.box-center h2 {
  font-size: 2rem;
  font-weight: bold;
}
.box-center p {
  font-size: 1.2rem;
}
.box-center h1 {
  font-size: 3rem;
  font-weight: bold;
}
